.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  /* background-color: black; */

/* background-color: rgb(255, 0, 82); */

 /* background: url("pet-background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */


}
#main-nav{
  background-color: rgb(74, 88, 99);
  
}
.form-div{

  width:357px;
  margin:auto;
  background-color: rgba(255, 255, 255, 0.9);

  border-radius: 20px;
  margin-top: 150px;
  padding: 50px;

  
}

.petcard{
  display: inline-grid;
  margin: 1rem 2rem;
}

.view-dog-image{
  width: 25%;
  margin: auto;

}
.nav-logo{
  width: 80%;
}
.pet-container{
  background-color: rgba(255, 255, 255, 0.9);

  border-radius: 20px;
 
  padding: 50px;
}

.google-maps-div{
/* margin:auto;
  margin-top: 50px; */
  /* margin-left:25%; */

}

.messages-div{

  width:100%;
  height:1920px;
  margin:auto;
  background-color: rgba(255, 255, 255, 0.9);

  border-radius: 20px;
  padding: 50px;
  
}

.convo-delete-button{

  width:90px;
  position:absolute;
  top:25px;
  right:5px;
}
.convo-view-button{

  width:90px;
  position:absolute;
  top:75px;
  right:5px;
}

.conversation-card-div{
  height:125px;
}

Button{
  margin:4px

}